.container {
  width: 320px;
  height: 240px;
  background: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 16px;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .checkbox {
      height: 14px;
    }
  }
}
